<footer class="footer bg-dark text-white text-center py-3 letra">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid h5">
        <a class="navbar-brand" href="#">
          <img src="assets/zarla-compu-space-1x1-2400x2400-20210603-9x3dmk6pq9jgdpm8rwh4.webp" alt="logo" width="56" height="50" class="d-inline-block align-text-top">
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
          <li class="nav-item pe-5">
            <p class="text-light">Mercy Developer</p>
          </li>
          <li class="nav-item">
            <p class="text-light">Número para contactarnos: +56 2 5252 2432</p>
          </li>
        </ul>
      </div>
    </nav>
  </footer>
  